body {
  font-family: Arial, Helvetica, sans-serif;
}

.myTable {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  font-weight: bold;
  border: 2px solid #336699;
}

.myTable thead th {
  background: #336699;
  color: #fff;
  text-align: left;
}

.myTable td,
.myTable th {
  padding: 10px 20px;
  border-bottom: 1px solid #336699;
  border-right: 1px solid #336699;
}

.myTable tbody tr:nth-child(even) {
  background: #eeeeee;
}

.myTabble tbody tr:last-of-type {
  border-bottom: 2px solid #336699;
}

